@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

#root {
  @apply w-screen min-h-screen bg-center bg-cover bg-fixed relative
}

#error {
  @apply w-screen h-[calc(100vh-6rem)] flex flex-col items-center justify-center gap-5
}

nav {
  @apply flex h-20 lg:gap-40 justify-between lg:justify-center items-center bg-blue-950 w-screen px-5
}

#background {
  background-image: radial-gradient(white, rgb(180, 180, 240));
  @apply fixed top-0 w-screen h-screen pointer-events-none -z-50
}

#background div {
  @apply text-blue-800 absolute opacity-0
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  5% {
    opacity: .25;
  }
  100% {
    transform: translateY(-100vh);
  }
}

#searchbar {
  @apply shadow-lg rounded-md sm:text-xl h-12 outline-none sm:w-96 w-72 bg-white flex justify-between items-center pr-4
}

input {
  @apply outline-none w-full p-4 bg-transparent
}

#home {
  @apply p-10 font-bold flex flex-col overflow-x-hidden items-center w-screen min-h-[calc(100vh-6rem)] gap-10
}

#hero {
  @apply flex flex-col items-center gap-2
}

#title {
  @apply flex items-center
}

#title img {
  @apply w-10
}

#title h1 {
  @apply text-3xl font-black bg-gradient-to-r p-2 text-transparent bg-clip-text from-[orange] via-[gold] to-[orange]
}

#tagline {
  @apply text-xl md:text-3xl font-black bg-gradient-to-r p-2 text-transparent bg-clip-text from-cyan-500 to-blue-500 text-center
}

#market-stats {
  @apply flex gap-5 p-10 max-w-full w-[1000px] justify-between flex-wrap
}

#market-stats h1 {
  @apply text-xs sm:text-sm
}

#market-stats h2 {
  @apply sm:text-2xl
}

#coins {
  @apply w-full flex flex-wrap justify-center gap-5
}

.coin {
  @apply flex sm:flex-row flex-col justify-between w-screen p-10 gap-10
}

.coin-stats {
  @apply text-sm flex flex-col pt-4 w-96 items-center font-bold
}

.coin-stat {
  @apply flex justify-between w-96 p-4 border-t-black border-t-2
}

.coin img {
  @apply w-20
}

.coin header {
  @apply flex-col items-center gap-2
}

.coin header h1 {
  @apply text-3xl text-blue-700 font-bold mb-5 xl:m-0
}

#line-chart {
  @apply px-5 w-full
}

#line-chart #select {
  @apply w-full flex items-center justify-between mb-5
}

#line-chart #select h1 {
  @apply text-2xl font-bold
}




